@import url('sb.css');

/* Define light mode variables */
:root {
  --color-background: #ffffff;
  --color-background-alt: var(--sb-orange-light);
  --color-background-hover: var(--sb-orange);
  --color-text: #000000;
  --color-border: var(--sb-orange-light);
  --color-border-open: var(--sb-orange);
  --color-border-hover: #ccc;
  --color-heading: #333;
  --color-icon: #302d2d;
  --color-icon-light: var(--sb-orange-light);
  --color-icon-dark: #ffffff;
  --border-color: #ddd;
  --table-head-bg: var(--sb-orange-light);
  --table-row-even-bg: #f9f9f9;
  --table-row-odd-bg: #e9e9e9;
  --button-active-bg-color: var(--sb-orange);
  --button-active-text-color: #ffffff;
  --button-inactive-bg-color: var(--sb-orange-light);
  --button-inactive-text-color: black;
  --button-background-alt: var(--sb-orange-light);
  --color-search-area: var(--sb-orange-light);
  --color-complement: var(--sb-orange-light);
  --font-size: 15px;
  --font-size-hover: 17px;
  --text-link: var(--sb-link);
}

/* Define dark mode variables */
[data-theme='dark'] {
  --color-background: var(--sb-grey-darker);
  --color-background-alt: var(--sb-grey-medium);
  --color-background-hover: var(--sb-orange);
  --color-text: #ffffff;
  --color-border: var(--sb-grey-dark);
  --color-border-open: var(--sb-grey-dark);
  --color-border-hover: #555;
  --color-heading: #f1f1f1;
  --color-icon: #ffffff;
  --color-icon-mode: var(--sb-blue-dark);
  --border-color: #444;
  --table-head-bg: var(--sb-grey-darker);
  --table-row-even-bg: var(--sb-grey-dark);
  --table-row-odd-bg: var(--sb-grey-medium);
  --button-active-bg-color: var(--sb-orange);
  --button-active-text-color: #ffffff;
  --button-inactive-bg-color: var(--sb-grey-medium);
  --button-inactive-text-color: #ffffff;
  --button-background-alt: var(--sb-grey-light);
  --color-search-area: var(--sb-grey-light);
  --color-complement: var(--sb-grey-dark);
  --font-size: 15px;
  --font-size-hover: 17px;
  --text-link: var(--sb-link-inverted);
}

/* Define the light mode toggle */
[data-theme='light'] {
  --color-icon-mode: var(--color-icon-light);
}

/* Apply the variables */
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /*font-weight: normal;*/
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 0.75rem;
  border: 1px solid var(--color-border);
}

th {
  background-color: var(--table-head-bg);
  color: var(--color-heading);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--table-row-even-bg);
}

tr:nth-child(odd) {
  background-color: var(--table-row-odd-bg);
}

tr:hover {
  background-color: var(--color-border-hover);
}

.material-icons {
  color: var(--color-icon);
  font-size: 20px;
}

.arrow-down {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 5px;
  vertical-align: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
