@import './base.css';

#app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    /*background-color: grey;*/
    color: var(--sb-orange);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  #app {
    display: grid;
    /* grid-template-rows: 1fr 5fr 1fr; */
    /* padding: 0 2rem; */
  }

  #app > *:not(:first-child) {
    border-top: 1px solid #ddd;
  }
}
