@import './base.css';

#app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    /*background-color: grey;*/
    color: var(--sb-orange);
  }
}

/* Info and error messages */

.message {
  margin: auto;
  text-align: center;
  font-style: italic;
}

.message-featured {
  background-color: var(--sb-message-background);
  margin: auto;
  text-align: center;
  color: black;
  width: 600px;
  padding: 1rem;
}

.message-error {
  background-color: var(--sb-error-background);
  margin: auto;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--sb-error-text);
  width: 600px;
  padding: 1rem;
}

.message-big {
  margin: auto;
  text-align: center;
  font-style: italic;
  font-size: x-large;
  margin-bottom: 1rem;
}
