:root {
  --sb-orange: #f0581a;
  --sb-orange-light: #f2dbd1;

  --sb-blue-light: #d7ebeb;
  --sb-blue-medium: #1e989f;
  --sb-blue-dark: #1b3c3e;

  --sb-grey-lighter: #f0f0f0;
  --sb-grey-light: #d0d0d0;
  --sb-grey-medium: #909090;
  --sb-grey-dark: #333333;
  --sb-grey-darker: #111111;

  --sb-error-background: #d37b7d;
  --sb-error-text: #000000;
  --sb-message-background: #f6eabb;
  --sb-link: #166f74;
  --sb-link-inverted: #5bb3b9;
}
