:root {
  --sb-orange: #f0581a;
  --sb-orange-light: #f2dbd1;

  --sb-blue-light: #d7ebeb;
  --sb-blue-medium: #1e989f;
  --sb-blue-dark: #1b3c3e;

  --sb-grey-light: #d0d0d0;
  --sb-grey-medium: #909090;
  --sb-grey-dark: #333333;
  --sb-grey-darker: #111111;

  --sb-error-background: #f8d7da;
  --sb-error-text: #721c24;
  --sb-message-background: #f8f5d7;
  --sb-link: #4338ca;
  --sb-link-inverted: #9991ff;
}
