.table-wrapper {
  /*  display: grid; */
  position: relative;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--color-background-alt);
}

.fancy-table {
  border-collapse: collapse;
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  text-align: left;
  width: fit-content;
  table-layout: auto;
}

th,
td {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid var(--color-border);
}

th {
  background-color: var(--table-head-bg);
  color: var(--color-heading);
  font-weight: bold;
  vertical-align: top;
}

tr {
  vertical-align: top;
}

tr:nth-child(even) {
  background-color: var(--table-row-even-bg);
}

tr:nth-child(odd) {
  background-color: var(--table-row-odd-bg);
}

tr:hover {
  background-color: var(--color-border-hover);
}

/* pagination */

.pagination {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: var(--color-background-alt2);
  color: var(--color-heading);
  font-weight: bold;
}

.pagination button,
.pagination span,
.pagination select {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0rem;
  margin: 0 0.25rem;
  border: none;
  background-color: transparent;
  color: inherit;
}

.pagination button,
.pagination select {
  cursor: pointer;
  border: 1px var(--sb-grey-dark) solid;
}

.pagination button:disabled span {
  color: var(--sb-grey-medium);
}

.pagination select {
  padding: 0;
  padding-left: 0.25rem;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-border);
}

.pagination-controls {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.pagination-controls label {
  margin-right: 0.5rem;
}
